<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.ort/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">
	<servlet>
		<servlet-name>CookieTest</servlet-name>
		<servlet-class>cookie.CookieTest</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>CookieTest</servlet-name>
		<url-pattern>/cookie.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CheckCookie</servlet-name>
		<servlet-class>cookie.CheckCookie</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>CheckCookie</servlet-name>
		<url-pattern>/checkcookie.do</url-pattern>
	</servlet-mapping>
</web-app>