<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.mapper.OrderMapper">

    <!--模型中有模型添加映射-->
    <resultMap id="orderMap" type="order">
        <id property="id" column="order_id"></id>
        <result property="number" column="number"></result>
        <result property="createtime" column="createtime"></result>
        <result property="note" column="note"></result>

        <!--association 代表关联模型中的模型 property属性名 javaType模型类型-->
        <association property="user" javaType="user">
            <id property="id" column="user_id"></id>
            <result property="username" column="username"></result>
            <result property="birthday" column="birthday"></result>
            <result property="sex" column="sex"></result>
            <result property="address" column="address"></result>
        </association>
    </resultMap>

    <!--一对多中查询多的一方单个数据，包含一的一方的数据-->
    <select id="selectOrderById" parameterType="int" resultMap="orderMap">
        SELECT
        o.id order_id, o.number, o.createtime, o.note,
        u.id user_id, u.username, u.birthday, u.sex, u.address
        FROM orders o JOIN USER u ON o.user_id = u.id
        WHERE o.id = #{id}
    </select>


    <!--模型中有模型添加映射-->
    <resultMap id="orderMap2" type="order">
        <id property="id" column="id"></id>
        <result property="number" column="number"></result>
        <result property="createtime" column="createtime"></result>
        <result property="note" column="note"></result>

        <!--association 代表关联模型中的模型 property属性名 javaType模型类型-->
        <association property="user" javaType="user">
            <id property="id" column="user_id"></id>
            <result property="username" column="username"></result>
            <result property="birthday" column="birthday"></result>
            <result property="sex" column="sex"></result>
            <result property="address" column="address"></result>
        </association>

        <!--配置模型中有集合的情况：collection。ps：模型中有集合，类型使用ofType-->
        <collection property="orderDetails" ofType="orderDetail">
            <id property="id" column="detail_id"></id>
            <result property="itemsId" column="items_id"></result>
            <result property="itemsNum" column="items_num"></result>
        </collection>
    </resultMap>

    <!--一对多查询-， 一的一方包含多的一方的集合-->
    <select id="selectOrderById3" parameterType="int" resultMap="orderMap2">
        SELECT
        o.*,
        u.username, u.birthday, u.sex, u.address,
        od.id detail_id, od.items_id, od.items_num,
        it.name, it.price, it.detail
        FROM orders o JOIN USER u ON o.user_id = u.id
        JOIN orderdetail od ON od.orders_id = o.id
        WHERE o.id = #{id}
    </select>

    <resultMap id="orderLazyMap" type="order">
        <id property="id" column="id"></id>
        <result property="number" column="number"></result>
        <result property="createtime" column="createtime"></result>
        <result property="note" column="note"></result>

        <association property="user" select="com.demo.mapper.UserMapper.select" column="user_id"></association>
    </resultMap>

    <select id="findOrderAndUserLazy" resultMap="orderLazyMap">
        select * from orders;
    </select>
</mapper>